* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato, sans-serif;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height:100vh;
    position: relative;
    background-size: cover;
    background-color: white;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0
}

.row.nav-bar {
    display: flex;
    list-style: none;
}

.nav {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
    height: 30px;
}

.nav-item {
    display: inline-block;
    padding: 1em;
}

.nav-item.home {
    background-color: #F1F1F1;
}

.nav-link {
    text-decoration: none;
    color: #F1F1F1;
    font-size: 11px;
}

.nav-link.home {
    color: black;
}

.container.container-grow {
    flex-grow: 1;
}

.container.background-red {
    background-color: red;
}

.container.background-grey {
    background-color: #F1F1F1;
}
.row.row-grow {
    flex-grow: 1;

}

.row.background-darkgrey {
    background-color: #666666;
}

.container.border-bottom-color {
    border-bottom: solid 1px;
}

.row.header {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 0;
    padding: 0;

}

.column1 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.column1.start-page {
    flex-direction: row;
    align-items: end;
    flex-grow: 1;
    font-size: 30px;

}

.column1.template {
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    font-size: 11px;

}

.get-started {
    color: white;
    background-color: black;
    text-decoration: none;
    font-size: 9px;
    padding: 1em;



}